# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_vendor/
bin/
pkg/

# Binary files
*.exe
*.out

# Testing
*.test

# Dependency directories
/vendor/

# IDE-specific files
/.idea/
/.vscode/

# OS-specific files
.DS_Store
Thumbs.db
